* {
    margin: 5px;
    padding: 0;
}

body {
    width:90%;
    margin:auto;
    min-width:600px;
    max-width:2000px;
    background-color: #3D001F;
}

p, {
    text-align: left;
    font-family: 'Arial' sans-serif;
    font-size: 16px;
    line-height: 24px;
}

header {
    padding:10px;
    max-height: 720px;
    text-align:center;
    background-color: #337D7D;
    outline:5px double #3D001F;
    outline-offset:0;
    border: solid 5px #000000;
}

nav {
    height:18px;
    padding:5px;
    text-align:center;
    background-color: #808080;
    outline:5px double #3D001F;
    margin: 10px 0 0 0;
}

nav a:link {
    color: #000000;
    font-weight: bold;
    padding: 10px;
    margin: 0 10px 0 10px;
}

nav a:visited {
    color: #3D001F;
    font-weight: bold;   
}
    
article {
    height:auto;
    padding:10px;
    background-color: #337D7D;
    outline:5px double #3D001F;
    line-height:160%;
    border: solid 5px #000000;
    float:left;
}

#content {
    height:auto;
    padding:10px;
    background-color: #337D7D;
    outline:5px double #3D001F;
    line-height:160%;
    border: solid 5px #000000;
}

aside {
    float:left;
    margin: 10px 10px 0 10px;
    width: 47.5%;
}

footer {
    padding:10px;
    text-align:center;
    background-color: #337D7D;
    outline:5px double #3D001F;
    outline-offset:0;
    border: solid 5px #000000;
}

h2, a:visited {
    color: #3D001F;
}

a:link {
    color: #000000;
    font-weight:800;
}

@media screen and (max-width:600px) {
    body {
        padding: 3%;
        width: 100%;
    }
    
    h1, h2 {
        text-align: center;
    }
    
    nav {
        border: 0%;
        width: 100%;
    }
    
}