* {
    box-sizing: border-box;
    margin: 5px;
    padding: 0;
}

body {
    width: 90%;
    margin: auto;
    min-width: 600px;
    max-width: 2000px;
    background-color: #ffffff;
}

p {
    
}

h1 {
    
}

header {
    padding:10px;
    max-height: 720px;
    text-align:center;
    background-color: #337D7D;
    outline:5px double #3D001F;
    border: solid 5px #000000;
}

article {
    height: auto;
    padding:10px;
    background-color: #337D7D;
    line-height: 160%;
    outline:5px double #3D001F;
    border: solid 5px #000000;
}


.sidebar {
    width: 45%;
    float: right;
    margin: 0 5% 10px 5%;
    padding-right: 5%;    
}

figure img {
   float: right;
    margin-left: 3%;
}

ul {
    margin-left: 3%;
}

footer {
    padding:10px;
    text-align:center;
    background-color: #337D7D;
    outline:5px double #3D001F;
    outline-offset:0;
    border: solid 5px #000000;
    clear: right;

}